:root{
    --background: rgb(34, 34, 36);
    --foreground: rgb(24, 24, 26);
    --highlight: rgb(79, 79, 84);
    --accent: rgb(255, 255, 255);
}

body{
    background-color: var(--background);
    color: var(--accent);
    font-family: Arial, Helvetica, sans-serif;
}

#canvas{
    width: 800px;
    height: 800px;
    border: 1px solid var(--accent);
    border-radius: 10px;
}

#nodes, #paths{
    border: 1px solid var(--accent);
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    margin: 15px;
}

#nodes input, #paths input{
    color: var(--accent);
    background-color: var(--foreground);
    border: 1px var(--accent) solid;
    border-radius: 5px;
    padding: 5px;
    width: 25%;
}

input:active{
    background-color: var(--highlight) !important;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
#nodeList, #pathList{
    max-height: 30vh;
    overflow-y: scroll;
}

.list-item{
    padding: 0px;
    margin: 6px 0px 6px 0px;
}

.list-item:hover{
    background-color: var(--foreground);
}

.list-item:focus{
    background-color: var(--highlight);
}

.hint{
    padding: 0px;
    margin: 3px;
    font-size: small;
    font-style: italic;
}